# User-specific files
*.suo
*.user
*.sln.docstates
*.tlog
*.log
*.idb
*.pdb
*.sdf
*.exe
*.obj
*.pyc
*.npy
*.raw
*.pickle
*.x3d
*.exp
*.lib
*.zip
*.json
*.gz
*.net

# LaTeX files

Report/build*
*.aux
*.bbl
*.bcf
*.blg
*.out
*.run.xml

scripts/tests
## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt

## Intermediate documents:
*.dvi
*-converted-to.*
# these rules might exclude image files for figures etc.
# *.ps
# *.eps
 *.pdf

## Bibliography auxiliary files (bibtex/biblatex/biber):
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.brf
*.run.xml

## Build tool auxiliary files:
*.fdb_latexmk
*.synctex
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync

## Auxiliary and intermediate files from other packages:
# algorithms
*.alg
*.loa

# achemso
acs-*.bib

